.thickline {
  padding: 0 10px;
  box-shadow: inset 0 -0.4em 0 0 #1b96f3;
  width: 7rem;
}

.imageva {
  background:#081856;
  position: absolute;
  z-index: 1;
}

.hr {
  height: 5px;
  border: 0;

}